[Unit]
Description=JWBCam_GPhoto2
After=network.target

[Service]
ExecStart=/home/pi/JWBCamGphoto.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target