[Unit]
Description=JWBCam_Flask
After=network.target JWBCamPIGPIOD.service

[Service]
ExecStart=/home/pi/JWBCamFlask.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target